.notfound {
    display: flex;
    min-height: 28.3vh;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
  }
  .notfound h1 {
    font-size: 2em;
  }
  
  .notfound p {
    font-size: 1.2em;
  }
  