.services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  border-top: 10px solid #55344cc4;

  .name {
      display: flex;
      border-bottom: 10px solid #55344cc4;
      justify-content: center;
      margin: 0;
      font-size: 3vw;
      font-weight: 700;
      color: #55344C;

      @media screen and (max-width: 768px) {
          font-size: 7vw;
      }
  }
}

.listing {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  overflow: hidden;

  @media screen and (max-width: 768px) {
      width: 90%;
  }
}

.block {
  flex: 1 0 30%;
  max-width: 400px;
  min-width: 100px;
  max-height: 400px;
  min-height: 100px;
  box-sizing: border-box;
  word-wrap: wrap;
  text-align: center;
  margin: 10px;

  @media screen and (max-width: 768px) {
      flex: 1 0 90%;
  }
}

.icon1 {
  font-size: 8vw;
  color: #DED0B6;

  @media screen and (max-width: 768px) {
      font-size: 15vw;
  }
}

h3 {
  font-size: 1.5vw;
  margin-top: 10px;
  color: #55344C;

  @media screen and (max-width: 768px) {
      font-size: 3vw;
  }
}

